/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "main";

/* =======================================================
*
* 	ABOUT STYLE
*
* ======================================================= */

.cover{
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

section.main-page .container-fluid {
    position: static;
}

#about{
    .container{
        .row{
            .left{
                .about-post{
                    padding-top: 30px;

                    &:first-of-type{
                        padding-top: 0 !important;
                    }

                    article{
                        p{
                            padding-bottom: 30px;
                        }

                        img{
                            width: 100%;

                            margin-top: 15px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }

            .right{

                &.sticky{
                    position: -webkit-sticky;
                    position: sticky;
                    top: 90px;
                }

                ul{
                    li{
                        a{
                            color: $gray-light;

                            &:hover{
                                color: $gray-dark;
                            }
                        }
                    }
                }
            }
        }
    }
}