/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "main";

/* =======================================================
*
* 	BLOGS STYLE
*
* ======================================================= */

.cover{
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.content{
    .container{
        .row{
            .left{
                .row{
                    .item{
                        .inner{
                            background-color: #fff;

                            .head{
                                .mask{
                                    width: 100%;
                                    height: 230px;
                                    overflow: hidden;
                                }
                            }

                            .body{
                                padding: 0 15px 15px;
                            }

                            .foot{
                                padding: 15px 15px 0;
                                border-top: 1px solid #eaeaea;
                            }
                        }
                    }
                }
            }

            .right{

            }

        }
    }
}