/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "main";

/* =======================================================
*
* 	CONTACT STYLE
*
* ======================================================= */

.cover{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

#about{
    .container{
        .row{
            .form-horizontal{
                .form-group{
                    textarea{
                        resize: none;
                    }
                }
            }
        }
    }
}