/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "main";

/* =======================================================
*
* 	HOMEPAGE STYLE
*
* ======================================================= */

body, html{
}

#slider{
    padding-left: 0;
    padding-right: 0;

    .slide{
        height: auto;//75vh;

        .carousel-inner{
            height: 100%;

            .item{
                height: 100%;

                > .mask{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                .carousel-caption{
                    width: 30%;
                    padding: 30px;

                    background-color: rgba(0,0,0,0.5);

                    top: 50%;
                    left: 60%;

                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    transform: translateY(-50%);

                    text-align: left;
                }
            }
        }

        .slider-background{
            width: 100%;
            height: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background-image: url("../img/bg-slider.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: bottom center;

        }
    }
}

.section{

    .slider {
        display: block;

        .carousel-inner{
            margin-left: -15px;
            margin-right: -15px;
            width: auto;

            .item{
                margin-bottom: 30px;

                .inner{
                    .mask{
                        width: 100%;
                        height: 400px;
                        overflow: hidden;

                        margin-bottom: 15px;

                        position: relative;

                        border-radius: 7px;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .overview{
                            width: 100%;
                            height: 50%;

                            position: absolute;
                            top: 40%;
                            left: 0;
                            z-index: 990;

                            padding: 15px;

                            opacity: 1;

                            text-shadow: 1px 2px 5px #333;

                            @include transition(0.5s);

                            .head{
                                h4.post-subtitle, h2.post-title{
                                    color: #fff;
                                }

                                h2.post-title{
                                    font-weight: 700;
                                }
                            }

                            .body{
                                h3{
                                    color: #fff;

                                    small.price-original{
                                        color: #ddd;
                                    }
                                }

                                .rating{
                                    color: #fff;
                                }
                            }
                        }

                        .content{
                            width: 100%;
                            height: 100%;

                            position: absolute;
                            top: 100%;
                            left: 0;
                            z-index: 991;

                            padding: 15px;

                            background-color: rgba(0,0,0,0.5);

                            opacity: 0;

                            @include transition(0.5s);

                            .head{
                                h4.post-subtitle, h2.post-title, h3.price{
                                    color: #fff;
                                }

                                h4.post-subtitle{
                                    font-size: 0.875em;
                                }

                                h2.post-title{
                                    font-size: 1.5em;
                                    font-weight: 700;
                                }

                                h3.price{
                                    font-size: 2em;

                                    small.price-original{
                                            color: #ddd;
                                    }
                                }
                            }

                            .body{
                                table{
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &:hover{
                        .mask{
                            .overview{
                                top: 0;
                                opacity: 0;

                                @include transition(0.5s);
                            }

                            .content{
                                top: 0;
                                opacity: 1;

                                @include transition(0.5s);
                            }
                        }
                    }
                }

            }
        }

        .col-md-6 {
            overflow: hidden;
        }

        .slider-control{
            .carousel-control{
                background-image: none;
                width: 10%;

                &.left{
                    top: 0;
                    left: -5%;

                    i{
                        position: absolute;
                        top: 50%;
                        right: 100%;

                        color: #333;
                        opacity: 0;

                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);

                        @include transition(500ms);
                    }

                    &:hover{
                        i{
                            right: 80%;
                            opacity: 1;

                            @include transition(500ms);
                        }
                    }
                }

                &.right{
                    top: 0;
                    right: -5%;

                    i{
                        position: absolute;
                        top: 50%;
                        left: 100%;

                        color: #333;
                        opacity: 0;

                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);

                        @include transition(500ms);
                    }

                    &:hover{
                        i{
                            left: 80%;
                            opacity: 1;

                            @include transition(500ms);
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            #slider-control img {
                padding-top: 70px;
                margin: 0 auto;
            }
        }

        .carousel-showmanymoveone {
            .carousel-control {
                width: 4%;
                background-image: none;
                &.left {
                    margin-left: 5px;
                }
                &.right {
                    margin-right: 5px;
                }
            }
            .cloneditem-1, .cloneditem-2, .cloneditem-3, .cloneditem-4, .cloneditem-5 {
                display: none;
            }
        }

        @media all and (min-width: 768px) {
            .carousel-showmanymoveone .carousel-inner {
                > {
                    .active.left, .prev {
                        left: -50%;
                    }
                    .active.right, .next {
                        left: 50%;
                    }
                    .left, .prev.right, .active {
                        left: 0;
                    }
                }
                .cloneditem-1 {
                    display: block;
                }
            }
        }

        @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
            .carousel-showmanymoveone .carousel-inner > .item {
                &.active.right, &.next {
                    -webkit-transform: translate3d(50%, 0, 0);
                    transform: translate3d(50%, 0, 0);
                    left: 0;
                }
                &.active.left, &.prev {
                    -webkit-transform: translate3d(-50%, 0, 0);
                    transform: translate3d(-50%, 0, 0);
                    left: 0;
                }
                &.left, &.prev.right, &.active {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    left: 0;
                }
            }
        }

        @media all and (min-width: 992px) {
            .carousel-showmanymoveone .carousel-inner {
                > {
                    .active.left, .prev {
                        left: -33.33%;
                    }
                    .active.right, .next {
                        left: 33.33%;
                    }
                    .left, .prev.right, .active {
                        left: 0;
                    }
                }
                .cloneditem-2, .cloneditem-3, .cloneditem-4, .cloneditem-5, .cloneditem-6 {
                    display: block;
                }
            }
        }

        @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
            .carousel-showmanymoveone .carousel-inner > .item {
                &.active.right, &.next {
                    -webkit-transform: translate3d(33.33%, 0, 0);
                    transform: translate3d(33.33%, 0, 0);
                    left: 0;
                }
                &.active.left, &.prev {
                    -webkit-transform: translate3d(-33.33%, 0, 0);
                    transform: translate3d(-33.33%, 0, 0);
                    left: 0;
                }
                &.left, &.prev.right, &.active {
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    left: 0;
                }
            }
        }
    }

    &#tour-special{
        background-color: #fff;

        .container{
            .row{
                .left{

                }

                .right{
                    .row{
                        padding-top: 50px;

                        .item{
                            text-align: center;

                            .circle-border{
                                width: 100px;
                                height: 100px;

                                margin: 10px auto;

                                border-radius: 50%;
                                border: 1px solid $gray-light;

                                position: relative;

                                i.fa{
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;

                                    @include makeItCenter;

                                    font-size: 2.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.tour-intro{
        background-position: right bottom;
        background-repeat: no-repeat;

        background-color: rgba(0,0,0,0.0125);

        .row{
            .left{
                .row{
                }

                ul.list-inline{
                    margin-top: 15px;

                    .btn-default{
                        padding: 7px 15px;

                        &:hover{
                            background-color: $gray-light;
                            color: #fff;
                        }
                    }
                }
            }

            .right{
                .head{

                }

                .body{
                    font-size: 1em;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 1.5;
                    max-height: 15em;
                    -webkit-line-clamp: 10;
                    -webkit-box-orient: vertical;
                }

                .foot{
                    padding-top: 15px;

                    ul{
                        li{

                        }
                    }
                }
            }
        }

        &#domestic{
            background-image: url("../img/vietnam.png");
            background-size: 460px 460px;
        }

        &#international{
            background-image: url("../img/global.png");
        }
    }

    &#tour-request{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        position: relative;

        padding-top: 200px;
        padding-bottom: 200px;

        .overlay{
            width: 100%;
            height: 100%;

            background-color: rgba(0,0,0,0.5);

            position: absolute;
            top: 0;
            left: 0;

            text-align: center;
            color: #fff;

            padding-top: 100px;
            padding-bottom: 100px;
        }

        #banner-weather{
            background-color: #ccc;
        }
    }

    &#services{
        .item{
            .mask{
                width: 100%;
                height: 400px;
                overflow: hidden;

                position: relative;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .overlay{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    bottom: 0;
                    left: 0;

                    background-color: rgba(0,0,0,0.2);

                }

                .content{
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    padding: 15px;

                    color: #fff;

                    h2{
                        font-weight: 700;
                    }

                    a{
                        color: #fff;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &#blogs{
        .item{
            .inner{
                background-color: #fff;
                padding: 15px;

                .mask{
                    width: 100%;
                    height: 230px;
                    overflow: hidden;
                }

                .head{

                }

                .body{

                }

                .foot{

                }
            }
        }
    }

    &#visa{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        padding: 0;

        .overlay {
            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, 0.5);

            padding-top: 200px;
            padding-bottom: 200px;
        }

        .container{
            text-align: center;
            color: #fff;
        }
    }
}


/* =======================================================
*
* 	RESPONSIVE STYLE
*
* ======================================================= */

@media (max-width: 768px){
    #slider{
        .slide{
            height: 30vh;

            .carousel-inner{
                .item{
                    height: 100%;

                    .carousel-caption{
                        width: 30%;
                        padding: 30px;

                        background-color: rgba(0,0,0,0.5);

                        top: 50%;
                        left: 60%;

                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);

                        text-align: left;
                    }
                }
            }

            .slider-background{
                width: 100%;
                height: 100%;

                position: absolute;
                top: 0;
                left: 0;

                background-image: url("../img/bg-slider.png");
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: bottom center;

            }
        }
    }

    .section{

        &#tour-intro{
            background-color: #fcfcfc;

            .container{
                > .row{
                    display: flex;
                    flex-direction: column;

                    .section-header{
                        margin-bottom: 15px;
                    }

                    .left{
                        order: 2;
                    }

                    .right{
                        order: 1;

                        .row{
                            padding-top: 0px;

                            .item{
                                text-align: center;
                                display: inline-block;

                                .circle-border{
                                    width: 80px;
                                    height: 80px;

                                    margin: 10px auto;

                                    border-radius: 50%;
                                    border: 1px solid $gray-light;

                                    position: relative;

                                    i.fa{
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;

                                        @include makeItCenter;

                                        font-size: 2.5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.tour-intro{
            .row{
                display: flex;
                flex-direction: column;

                > .left{
                    order: 2;

                    .row{
                    }

                    ul.list-inline{

                        .btn-default{

                        }
                    }
                }

                > .right{
                    order: 1;

                    .head{

                    }

                    .body{

                    }

                    .foot{
                        padding-top: 15px;
                        ul{
                            li{

                            }
                        }
                    }
                }
            }
        }

        &#tour-request{

            .overlay{

            }
        }

        &#services{
            .item{
                .mask{
                    height: 280px;

                    .content{

                    }
                }
            }
        }

        &#blogs{
            .item{
                .inner{

                    .mask{

                    }

                    .head{

                    }

                    .body{

                    }

                    .foot{

                    }
                }
            }
        }

        &#visa{
            .overlay{
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }
    }
}

