/*

=======================================
MAIN SETUP FOR ALL PAGES

Author: hung.luong@matocreative.vn

=======================================

 */


/*
=======================================
VARIABLES
=======================================
 */

$primary: #55b73d;
$primary-hover: #77c564;

$gray-dark: #333;
$gray: #666;
$gray-light: #999;

/*
=======================================
MIXINS
=======================================
 */

@mixin transition($duration){
    -webkit-transition: all ease $duration;
    -moz-transition: all ease $duration;
    -ms-transition: all ease $duration;
    -o-transition: all ease $duration;
    transition: all ease $duration;
}

@mixin makeItCenter{
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
=======================================
FONT EMBED
=======================================
 */

/* Embed font Roboto from Google Fonts Library */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body{
    font-family: 'Roboto', sans-serif;
}

/*
=======================================
RESET BOOTSTRAP
=======================================
 */

a{
    color: $gray;

    &:hover{
        text-decoration: none;
    }
}

.btn-primary{
    padding: 7px 30px;
    margin-top: 15px;
    margin-bottom: 15px;

    background-color: $primary;
    border: none;
    border-radius: 4px;

    &:hover{
        background-color: $primary-hover;
    }
}

.btn-default{
    padding: 7px 30px;

    background-color: #eaeaea;
    border: none;
    border-radius: 4px;

    &:hover{
        background-color: #fafafa;
    }
}

.form-control{
    &:focus{
        border-color: $primary;
        -webkit-box-shadow: inset 0 1px 1px rgba(85,183,61,.075), 0 0 8px rgba(85,183,61,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(85,183,61,.075), 0 0 8px rgba(85,183,61,.6);
        box-shadow: inset 0 1px 1px rgba(85,183,61,.075), 0 0 8px rgba(85,183,61,.6);
    }
}

/*
=======================================
BODY STYLE
=======================================
 */

body{
    background-color: #fafafa;
}

.mask{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*
=======================================
HEADER STYLE
=======================================
 */

#top-nav{
    padding-top: 7px;
    padding-bottom: 7px;

    background-color: #fff;

    .container{
        .row{
            .left{

            }

            .right{
                text-align: right;
            }
        }
    }
}

section.main-page{
    position: relative;

    header.header{
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1011;

        #brand{

        }

        #main-nav{


            > ul{
                margin-bottom: 0;
                text-align: right;

                > li{
                    padding: 10px;

                    &:hover{
                        background-color: $primary-hover;

                        .menu-expand{
                            top: 100%;

                            display: block;

                            -webkit-transition: all ease 500ms;
                            -moz-transition: all ease 500ms;
                            -ms-transition: all ease 500ms;
                            -o-transition: all ease 500ms;
                            transition: all ease 500ms;

                            .row{
                                ul{
                                    list-style: none;
                                }

                                .mask{
                                    width: 100%;
                                    height: 150px;
                                    overflow: hidden;

                                    margin-bottom: 15px;

                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }

                                a{
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    line-height: 1.5em;
                                    height: 3em;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    font-size: .875em;
                                }
                            }

                        }

                        a{
                            color: $gray-dark;
                        }
                    }

                    > a{
                        color: #fff;
                    }

                    .menu-expand{
                        width: 100%;

                        position: absolute;
                        top: 110%;
                        left: 0;
                        z-index: 1001;

                        background-color: #fff;
                        border: 1px solid #dadada;

                        display: none;

                        -webkit-transition: all ease 500ms;
                        -moz-transition: all ease 500ms;
                        -ms-transition: all ease 500ms;
                        -o-transition: all ease 500ms;
                        transition: all ease 500ms;
                    }

                    &.menu-tabs{
                        .menu-tabs-expand{
                            .row{
                                .left{
                                    > ul{
                                        list-style: none;
                                        padding-left: 0;
                                        text-align: left;

                                        position: relative;

                                        > li{
                                            padding: 10px 15px;

                                            &:hover{
                                                background-color: #eaeaea;

                                                > ul{
                                                    display: block;
                                                }
                                            }

                                            > ul{
                                                position: absolute;
                                                top: 0;
                                                left: 100%;

                                                width: 330%;

                                                display: none;

                                                > li{
                                                    width: 32%;
                                                    padding-left: 15px;
                                                    padding-right: 15px;

                                                    display: inline-block;
                                                }
                                            }
                                        }
                                    }
                                }

                                .right{
                                    padding: 15px;

                                    .item{
                                        .mask{
                                            width: 100%;
                                            height: 200px;
                                            overflow: hidden;

                                            margin-bottom: 15px;

                                            img{
                                                width: 100%;
                                                height: 100%;
                                                object-fit: cover;
                                            }
                                        }


                                    }
                                }
                            }
                        }
                    }

                    &.menu-list{
                        .menu-list-expand{
                            .row{
                                margin-left: 0;
                                margin-right: 0;

                                .item{
                                    padding: 15px;

                                    .head{

                                    }

                                    .body{
                                        ul{
                                            padding-left: 0;

                                            li{
                                                a{
                                                    color: $gray-light;

                                                    &:hover{
                                                        color: $gray;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

section.main-content{
    .section{
        display: block;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

footer.footer{
    background-color: $primary;
    color: #fff;

    padding-bottom: 50px;

    a{
        color: #fff;

        &:hover{
            color: #fff;
        }
    }

    .container{
        .row{
            padding-bottom: 30px;

            border-bottom: 1px solid #fcfcfc;

            &:last-of-type{
                border-bottom: none;
            }

            .item{
                .head{

                }

                .body{
                    ul{
                        padding-left: 0;
                        list-style: none;
                    }
                }
            }
        }
    }
}