@font-face {
    font-family: 'icomoon';
    src: url("../lib/icomoon/fonts/icomoon.eot?srf3rx");
    src: url("../lib/icomoon/fonts/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../lib/icomoon/fonts/icomoon.ttf?srf3rx") format("truetype"), url("../lib/icomoon/fonts/icomoon.woff?srf3rx") format("woff"), url("../lib/icomoon/fonts/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "variables";


/* =======================================================
*
* 	Template Style
*
* ======================================================= */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: $text-color;
    background-color: #fafafa;
    /*background: #000 url(../img/broken_noise.png) repeat;*/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    body {
        /*background: #000 url(../img/broken_noise.png) repeat;*/
    }
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.offcanvas #page {
    overflow: hidden;
    position: absolute;
    &:after {
        -webkit-transition: 2s;
        -o-transition: 2s;
        transition: 2s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 101;
        background: rgba(0, 0, 0, 0.7);
        content: "";
    }
}

a {
    color: $primary;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    &:hover, &:active, &:focus {
        color: $primary;
        outline: none;
        text-decoration: none;
    }
}

p {
    margin-bottom: 30px;
    font-style: 18px;
}

h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

::-webkit-selection, ::-moz-selection, ::selection {
    color: #fff;
    background: $primary;
}

.fh5co-nav {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 1001;
    top: 0;
    padding: 14px 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &.scrolled {
        background: #000 url(../img/broken_noise.png) repeat;
        top: -105px;
    }
    #fh5co-logo {
        font-size: 32px;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #fff !important;
    }
}

@media screen and (max-width: 480px) {
    .fh5co-nav {
        position: absolute;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .fh5co-nav.scrolled {
        background: #000 url(../img/broken_noise.png) repeat;
    }
}

@media screen and (max-width: 480px) {
    .fh5co-nav.scrolled {
        background: transparent;
    }
}

.scrolled .fh5co-nav #fh5co-logo {
    color: #000 !important;
}

.fh5co-nav #fh5co-logo a {
    font-size: 42px;
    color: #fff !important;
}

.scrolled .fh5co-nav #fh5co-logo a {
    color: #000 !important;
}

.fh5co-nav {
    #fh5co-logo a span {
        color: $primary;
    }
    ul {
        padding: 0;
        margin: 5px 0 0 0;
        display: inline-block;

        &:nth-of-type(2){
            margin-left: 30px;

            li{
                padding: 5px;

                a{
                    padding: 5px;
                }
            }
        }

        li {
            padding: 5px 10px;
            margin: 0;
            list-style: none;
            display: inline;
            > a {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 14px;
            }
            a {
                padding: 30px 15px;
                color: rgba(255, 255, 255, 0.7);
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                transition: 0.5s;
            }

            .btn{
                padding: 5px 15px;
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .fh5co-nav .menu-1 {
        display: none;
    }
}

.scrolled .fh5co-nav ul li a {
    color: rgba(0, 0, 0, 0.7);
}

.fh5co-nav ul li a {
    &:hover, &:focus, &:active {
        color: white;
    }
}

.scrolled .fh5co-nav ul li a {
    &:hover, &:focus, &:active {
        color: black;
    }
}

.fh5co-nav ul li.has-dropdown {
    position: relative;
    .dropdown {
        width: 140px;
        -webkit-box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
        z-index: 1002;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: 0;
        text-align: left;
        background: $primary;
        padding: 20px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: 0s;
        -o-transition: 0s;
        transition: 0s;
        &:before {
            bottom: 100%;
            left: 40px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: $primary;
            border-width: 8px;
            margin-left: -8px;
        }
        li {
            display: block;
            margin-bottom: 7px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-size: 17px;
                padding: 2px 0;
                display: block;
                color: white;
                line-height: 1.2;
                text-transform: none;
                letter-spacing: 0;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &:hover a, &:focus a {
        color: #fff;
    }
}

.scrolled .fh5co-nav ul li.has-dropdown {
    &:hover a, &:focus a {
        color: rgba(0, 0, 0, 0.7);
    }
}

.fh5co-nav ul li.active > a {
    color: #fff;
    position: relative;
}

.scrolled .fh5co-nav ul li.active > a {
    color: rgba(0, 0, 0, 0.7);
}

.fh5co-nav ul li.active > a:after {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    content: '';
    width: 30px;
    height: 2px;
    background: $primary;
    margin: 0 auto;
}

#fh5co-counter, .fh5co-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

#fh5co-gallery {
    .fh5co-bg-img, .fh5co-gallery_big {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
}

.product {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}



.fh5co-section {
    padding: 7em 0;
    p {
        color: $text-color;
        font-size: .875em;
        font-weight: 300;
        line-height: 1.5;
    }
}

@media screen and (max-width: 480px) {
    .fh5co-section {
        padding: 3em 0;
    }
}

.section-heading {
    width: 100%;
    float: left;
    margin-bottom: 50px;
    h2 {
        font-style: 40px;
        color: $heading-color;
        font-family: 'Roboto', sans-serif;
    }
}



#form-wrap {
    border: 4px solid rgba(255, 255, 255, 0.04);
    padding: 30px;
    .form-group:last-child {
        margin-bottom: 0 !important;
    }
}


#fh5co-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    .overlay {
        z-index: 0;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .display-t {
        display: table;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-header {
        background-position: center center;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-header, .fh5co-cover {
        padding: 3em 0;
    }
}

.fh5co-cover .display-t {
    display: table;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #fh5co-header .display-t, .fh5co-cover .display-t {
        padding: 3em 0;
    }
}

#fh5co-header .display-tc, .fh5co-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #fh5co-header .display-tc, .fh5co-cover .display-tc {
        padding: 3em 0;
    }
}

#fh5co-header .display-tc {
    h1, h2 {
        margin: 0;
        padding: 0;
        color: white;
    }
}

.fh5co-cover .display-tc {
    h1, h2 {
        margin: 0;
        padding: 0;
        color: white;
    }
}

#fh5co-header .display-tc h1, .fh5co-cover .display-tc h1 {
    margin-bottom: 0px;
    font-size: 74px;
    font-size: 80px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    #fh5co-header .display-tc h1, .fh5co-cover .display-tc h1 {
        font-size: 42px;
        line-height: 50px;
    }
}

#fh5co-header .display-tc h1 em, .fh5co-cover .display-tc h1 em {
    font-style: italic;
    font-weight: 600;
}

#fh5co-header .display-tc h2, .fh5co-cover .display-tc h2 {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-style: italic;
}

#fh5co-header .display-tc h2 a, .fh5co-cover .display-tc h2 a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #fff;
    position: relative;
}

#fh5co-header .display-tc h2 a:before, .fh5co-cover .display-tc h2 a:before {
    background: $primary;
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

#fh5co-header .display-tc .btn, .fh5co-cover .display-tc .btn {
    padding: 10px 30px;
    color: #fff;
    border: none !important;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    #fh5co-header .display-tc .btn, .fh5co-cover .display-tc .btn {
        width: 80%;
        margin: 0 auto;
    }
}

#fh5co-header .display-tc .btn.btn-learn, .fh5co-cover .display-tc .btn.btn-learn {
    background: #fee856;
    border: none;
    color: #000 !important;
}

#fh5co-header .display-tc .btn.btn-learn {
    &:hover, &:focus {
        background: rgba(254, 232, 86, 0.9) !important;
        color: #000 !important;
    }
}

.fh5co-cover .display-tc .btn.btn-learn {
    &:hover, &:focus {
        background: rgba(254, 232, 86, 0.9) !important;
        color: #000 !important;
    }
}

#fh5co-header .display-tc .btn {
    &:hover, &:focus {
        color: #fff !important;
    }
}

.fh5co-cover .display-tc .btn {
    &:hover, &:focus {
        color: #fff !important;
    }
}

#fh5co-header .display-tc .btn.btn-demo, .fh5co-cover .display-tc .btn.btn-demo {
    background: $primary;
    border: none;
}

#fh5co-header .display-tc .btn.btn-demo {
    &:hover, &:focus {
        background: rgba(48, 86, 165, 0.9) !important;
        color: #fff !important;
    }
}

.fh5co-cover .display-tc .btn.btn-demo {
    &:hover, &:focus {
        background: rgba(48, 86, 165, 0.9) !important;
        color: #fff !important;
    }
}

#fh5co-header .display-tc .btn:hover, .fh5co-cover .display-tc .btn:hover {
    background: $primary !important;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}

#fh5co-header .display-tc .form-inline .form-group, .fh5co-cover .display-tc .form-inline .form-group {
    width: 100% !important;
    margin-bottom: 10px;
}

#fh5co-header .display-tc .form-inline .form-group .form-control, .fh5co-cover .display-tc .form-inline .form-group .form-control {
    width: 100%;
    background: #fff;
    border: none;
}



#fh5co-footer{
    background-color: #666;

    p{
        color: rgba(255,255,255,.5);
    }
}

#fh5co-content {
    border-bottom: 2px solid rgba(234, 39, 45, 0.1);
}

#fh5co-started {
    border-bottom: none;
}

.fh5co-social-icons {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        a {
            display: -moz-inline-stack;
            display: inline-block;
            zoom: 1;
            *display: inline;
            color: #fff;
            padding-left: 10px;
            padding-right: 10px;
            i {
                font-size: 20px;
            }
        }
    }
}

.member {
    width: 100%;
    float: left;
    .author {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        height: 400px;
    }
    .desc {
        width: 80%;
        margin: 0 auto;
        margin-top: 4em;
        h3 {
            margin-bottom: 10px;
        }
        span {
            display: block;
            margin-bottom: 20px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.3);
        }
    }
}

.fh5co-portfolio {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    > a {
        width: 100%;
        float: left;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
        &:hover {
            webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
            -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
            box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
        }
    }
    .portfolio-entry {
        width: 100%;
        float: left;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        height: 300px;
    }
    .portfolio-text {
        width: 100%;
        float: left;
        padding: 20px;
        .stuff {
            margin: 0;
            padding: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            padding-top: 20px;
            li {
                list-style: none;
                display: inline-block;
                margin-left: 10px;
                color: rgba(0, 0, 0, 0.3);
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    float: right;
                }
                i {
                    font-size: 14px;
                    padding-right: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .fh5co-portfolio .portfolio-entry {
        height: 400px;
    }
}

.fh5co-team {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
    h2 {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 50px;
    }
    figure {
        position: relative;
        top: 0px;
        background-size: cover;
        margin-bottom: 20px;
        img {
            width: 150px;
            height: 150px;
            border: 10px solid #fff;
            background-size: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
        }
    }
    > div {
        padding: 30px 30px 0 30px;
        h3 {
            margin-bottom: 0;
            font-size: 20px;
            color: $primary;
        }
        .position {
            color: #d9d9d9;
            margin-bottom: 30px;
        }
        border: none;
        padding: 0;
        margin-bottom: 20px;
    }
    blockquote {
        border: none;
        padding: 0;
        margin-bottom: 20px;
        p {
            font-size: 16px;
            line-height: 1.5;
            color: #555555;
        }
    }
    > div p {
        font-size: 16px;
        line-height: 1.5;
        color: #555555;
    }
    span {
        color: #b3b3b3;
    }
}

@media screen and (max-width: 768px) {
    .fh5co-team {
        border-right: 0;
        margin-bottom: 80px;
    }
}

#fh5co-footer {
    .fh5co-footer-links {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            color: rgba(255, 255, 255, 0.5);
            a {
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    color: $primary;
                }
            }
        }
    }
    .fh5co-widget {
        margin-bottom: 30px;
        h4 {
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 14px;
            letter-spacing: 1px;
        }
    }
    .copyright .block {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-footer .fh5co-footer-links {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-footer .fh5co-widget {
        text-align: left;
    }
}

.contact-info {
    margin-bottom: 4em;
    padding: 0;
    li {
        list-style: none;
        margin: 0 0 20px 0;
        position: relative;
        padding-left: 40px;
        color: #fff;
        i {
            position: absolute;
            top: .3em;
            left: 0;
            font-size: 22px;
            color: rgba(255, 255, 255, 0.3);
        }
        a {
            color: #fff;
        }
    }
}

#fh5co-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: #000 url(../images/broken_noise.png) repeat;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 75px 40px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #fh5co-offcanvas {
        background: #000 url(../images/broken_noise.png) repeat;
    }
}

@media screen and (max-width: 768px) {
    #fh5co-offcanvas {
        display: block;
    }
}

.offcanvas #fh5co-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

#fh5co-offcanvas {
    a {
        color: rgba(255, 255, 255, 0.5);
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            > ul {
                padding-left: 20px;
                display: none;
            }
            &.offcanvas-has-dropdown {
                > a {
                    display: block;
                    position: relative;
                    &:after {
                        position: absolute;
                        right: 0px;
                        font-family: 'icomoon';
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        /* Better Font Rendering =========== */
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\ebfc";
                        font-size: 20px;
                        color: rgba(255, 255, 255, 0.2);
                        -webkit-transition: 0.5s;
                        -o-transition: 0.5s;
                        transition: 0.5s;
                    }
                }
                &.active a:after {
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    -o-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.uppercase {
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    a {
        width: 50px;
        height: 50px;
        display: table;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        i {
            height: 50px;
            display: table-cell;
            vertical-align: middle;
        }
        &:hover, &:active, &:focus {
            text-decoration: none;
            outline: none;
        }
    }
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    top: 25px !important;
    &.active i {
        &::before, &::after {
            background: #444;
        }
    }
    &:hover, &:focus, &:active {
        outline: none;
        border-bottom: none !important;
    }
    i {
        position: relative;
        display: inline-block;
        width: 25px;
        height: 2px;
        color: #252525;
        font: bold 14px/.4 Helvetica;
        text-transform: uppercase;
        text-indent: -55px;
        background: #252525;
        transition: all .2s ease-out;
        &::before, &::after {
            content: '';
            width: 25px;
            height: 2px;
            background: #252525;
            position: absolute;
            left: 0;
            transition: all .2s ease-out;
        }
    }
    &.fh5co-nav-white > i {
        color: #fff;
        background: #fff;
        &::before, &::after {
            background: #fff;
        }
    }
    i {
        &::before {
            top: -7px;
        }
        &::after {
            bottom: -7px;
        }
    }
    &:hover i {
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px;
        }
    }
    &.active i {
        background: transparent;
        &::before {
            top: 0;
            -webkit-transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
            background: #fff;
        }
        &::after {
            bottom: 0;
            -webkit-transform: rotateZ(-45deg);
            -moz-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
            background: #fff;
        }
    }
    position: absolute;
    right: 0px;
    top: 65px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none !important;
}

@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
    &.btn-md {
        padding: 8px 20px !important;
    }
    &.btn-lg {
        padding: 10px 36px !important;
    }
    &:hover, &:active, &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}

.btn-primary {
    background: $primary;
    color: #fff;
    border: 2px solid $primary;
    &:hover, &:focus, &:active {
        background: #ec3e44 !important;
        border-color: #ec3e44 !important;
    }
    &.btn-outline {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px !important;
        letter-spacing: 1px;
        border: 2px solid $primary;
        &:hover, &:focus, &:active {
            background: $primary;
            color: #fff;
        }
    }
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
    &:hover, &:focus, &:active {
        background: #4cae4c !important;
        border-color: #4cae4c !important;
    }
    &.btn-outline {
        background: transparent;
        color: #5cb85c;
        border: 2px solid #5cb85c;
        &:hover, &:focus, &:active {
            background: #5cb85c;
            color: #fff;
        }
    }
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
    &:hover, &:focus, &:active {
        background: #46b8da !important;
        border-color: #46b8da !important;
    }
    &.btn-outline {
        background: transparent;
        color: #5bc0de;
        border: 2px solid #5bc0de;
        &:hover, &:focus, &:active {
            background: #5bc0de;
            color: #fff;
        }
    }
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e;
    &:hover, &:focus, &:active {
        background: #eea236 !important;
        border-color: #eea236 !important;
    }
    &.btn-outline {
        background: transparent;
        color: #f0ad4e;
        border: 2px solid #f0ad4e;
        &:hover, &:focus, &:active {
            background: #f0ad4e;
            color: #fff;
        }
    }
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f;
    &:hover, &:focus, &:active {
        background: #d43f3a !important;
        border-color: #d43f3a !important;
    }
    &.btn-outline {
        background: transparent;
        color: #d9534f;
        border: 2px solid #d9534f;
        &:hover, &:focus, &:active {
            background: #d9534f;
            color: #fff;
        }
    }
}

.btn-outline {
    background: none;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    i {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -8px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }
    &:hover {
        padding-right: 50px;
        i {
            color: #fff;
            right: 18px;
            visibility: visible;
            opacity: 1;
        }
    }
}

.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;

    label {
        color: $text-color;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid #999;
    height: 45px;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    &:active, &:focus {
        outline: none;
        box-shadow: none;
        border-color: #666;
    }
}

textarea {
    resize: vertical;
    overflow: auto;
}

.row-pb-md {
    padding-bottom: 4em !important;
}

.row-pb-sm {
    padding-bottom: 2em !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.fh5co-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
    opacity: 0;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.bootstrap-datetimepicker-widget {
    color: #000 !important;
}

/*# sourceMappingURL=style.css.map */