/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */
/*

=======================================
MAIN SETUP FOR ALL PAGES

Author: hung.luong@matocreative.vn

=======================================

 */
/*
=======================================
VARIABLES
=======================================
 */
/*
=======================================
MIXINS
=======================================
 */
/*
=======================================
FONT EMBED
=======================================
 */
/* Embed font Roboto from Google Fonts Library */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
body {
  font-family: 'Roboto', sans-serif; }

/*
=======================================
RESET BOOTSTRAP
=======================================
 */
a {
  color: #666; }
  a:hover {
    text-decoration: none; }

.btn-primary {
  padding: 7px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #55b73d;
  border: none;
  border-radius: 4px; }
  .btn-primary:hover {
    background-color: #77c564; }

.btn-default {
  padding: 7px 30px;
  background-color: #eaeaea;
  border: none;
  border-radius: 4px; }
  .btn-default:hover {
    background-color: #fafafa; }

.form-control:focus {
  border-color: #55b73d;
  -webkit-box-shadow: inset 0 1px 1px rgba(85, 183, 61, 0.075), 0 0 8px rgba(85, 183, 61, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(85, 183, 61, 0.075), 0 0 8px rgba(85, 183, 61, 0.6);
  box-shadow: inset 0 1px 1px rgba(85, 183, 61, 0.075), 0 0 8px rgba(85, 183, 61, 0.6); }

/*
=======================================
BODY STYLE
=======================================
 */
body {
  background-color: #fafafa; }

.mask img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*
=======================================
HEADER STYLE
=======================================
 */
#top-nav {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #fff; }
  #top-nav .container .row .right {
    text-align: right; }

section.main-page {
  position: relative; }
  section.main-page header.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1011; }
    section.main-page header.header #main-nav > ul {
      margin-bottom: 0;
      text-align: right; }
      section.main-page header.header #main-nav > ul > li {
        padding: 10px; }
        section.main-page header.header #main-nav > ul > li:hover {
          background-color: #77c564; }
          section.main-page header.header #main-nav > ul > li:hover .menu-expand {
            top: 100%;
            display: block;
            -webkit-transition: all ease 500ms;
            -moz-transition: all ease 500ms;
            -ms-transition: all ease 500ms;
            -o-transition: all ease 500ms;
            transition: all ease 500ms; }
            section.main-page header.header #main-nav > ul > li:hover .menu-expand .row ul {
              list-style: none; }
            section.main-page header.header #main-nav > ul > li:hover .menu-expand .row .mask {
              width: 100%;
              height: 150px;
              overflow: hidden;
              margin-bottom: 15px; }
              section.main-page header.header #main-nav > ul > li:hover .menu-expand .row .mask img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
            section.main-page header.header #main-nav > ul > li:hover .menu-expand .row a {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-height: 1.5em;
              height: 3em;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              font-size: .875em; }
          section.main-page header.header #main-nav > ul > li:hover a {
            color: #333; }
        section.main-page header.header #main-nav > ul > li > a {
          color: #fff; }
        section.main-page header.header #main-nav > ul > li .menu-expand {
          width: 100%;
          position: absolute;
          top: 110%;
          left: 0;
          z-index: 1001;
          background-color: #fff;
          border: 1px solid #dadada;
          display: none;
          -webkit-transition: all ease 500ms;
          -moz-transition: all ease 500ms;
          -ms-transition: all ease 500ms;
          -o-transition: all ease 500ms;
          transition: all ease 500ms; }
        section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .left > ul {
          list-style: none;
          padding-left: 0;
          text-align: left;
          position: relative; }
          section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .left > ul > li {
            padding: 10px 15px; }
            section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .left > ul > li:hover {
              background-color: #eaeaea; }
              section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .left > ul > li:hover > ul {
                display: block; }
            section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .left > ul > li > ul {
              position: absolute;
              top: 0;
              left: 100%;
              width: 330%;
              display: none; }
              section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .left > ul > li > ul > li {
                width: 32%;
                padding-left: 15px;
                padding-right: 15px;
                display: inline-block; }
        section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .right {
          padding: 15px; }
          section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .right .item .mask {
            width: 100%;
            height: 200px;
            overflow: hidden;
            margin-bottom: 15px; }
            section.main-page header.header #main-nav > ul > li.menu-tabs .menu-tabs-expand .row .right .item .mask img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
        section.main-page header.header #main-nav > ul > li.menu-list .menu-list-expand .row {
          margin-left: 0;
          margin-right: 0; }
          section.main-page header.header #main-nav > ul > li.menu-list .menu-list-expand .row .item {
            padding: 15px; }
            section.main-page header.header #main-nav > ul > li.menu-list .menu-list-expand .row .item .body ul {
              padding-left: 0; }
              section.main-page header.header #main-nav > ul > li.menu-list .menu-list-expand .row .item .body ul li a {
                color: #999; }
                section.main-page header.header #main-nav > ul > li.menu-list .menu-list-expand .row .item .body ul li a:hover {
                  color: #666; }

section.main-content .section {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px; }

footer.footer {
  background-color: #55b73d;
  color: #fff;
  padding-bottom: 50px; }
  footer.footer a {
    color: #fff; }
    footer.footer a:hover {
      color: #fff; }
  footer.footer .container .row {
    padding-bottom: 30px;
    border-bottom: 1px solid #fcfcfc; }
    footer.footer .container .row:last-of-type {
      border-bottom: none; }
    footer.footer .container .row .item .body ul {
      padding-left: 0;
      list-style: none; }

/* =======================================================
*
* 	LIST TOURS STYLE
*
* ======================================================= */
#head-cover {
  padding-left: 0;
  padding-right: 0;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

#page {
  width: 100%;
  margin-top: -20vh; }
  #page .container {
    background-color: #fff;
    border-top: 10px solid #55b73d; }
    #page .container .breadcrumb {
      padding: 10px 0;
      background-color: transparent; }

#tours .row .item {
  margin-bottom: 30px; }
  #tours .row .item .mask {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 7px; }
    #tours .row .item .mask img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #tours .row .item .mask .overview {
      width: 100%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 990;
      padding: 15px;
      color: #fff;
      opacity: 1;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
    #tours .row .item .mask .content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 991;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      opacity: 0;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
  #tours .row .item:hover .mask .overview {
    top: 0;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  #tours .row .item:hover .mask .content {
    top: 0;
    opacity: 1;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s; }

#tour-detail .row .right {
  background-color: #55b73d;
  color: #fff; }
  #tour-detail .row .right table {
    color: #fff; }
    #tour-detail .row .right table .rating {
      unicode-bidi: bidi-override;
      direction: ltr; }
      #tour-detail .row .right table .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em; }
        #tour-detail .row .right table .rating > span:hover:before {
          content: "\2605";
          position: absolute; }
        #tour-detail .row .right table .rating > span:hover ~ span:before {
          content: "\2605";
          position: absolute; }
    #tour-detail .row .right table tbody tr:last-of-type td {
      border-top: 1px solid transparent; }
#tour-detail .row.tabs {
  margin-top: 30px; }
  #tour-detail .row.tabs .tab-content {
    padding-top: 30px; }
    #tour-detail .row.tabs .tab-content #overview .row .schedule .panel-group .panel-primary {
      border-color: #55b73d; }
      #tour-detail .row.tabs .tab-content #overview .row .schedule .panel-group .panel-primary .panel-heading {
        background-color: #55b73d;
        border-color: #55b73d;
        color: #fff; }
      #tour-detail .row.tabs .tab-content #overview .row .schedule .panel-group .panel-primary .panel-body {
        border-top-color: #55b73d; }
        #tour-detail .row.tabs .tab-content #overview .row .schedule .panel-group .panel-primary .panel-body .media .media-left .mask {
          width: 250px;
          height: 150px;
          overflow: hidden; }
    #tour-detail .row.tabs .tab-content #overview .row .map img {
      width: 100%; }
    #tour-detail .row.tabs .tab-content #gallery .row .panel-group .panel-primary {
      border-color: #55b73d; }
      #tour-detail .row.tabs .tab-content #gallery .row .panel-group .panel-primary .panel-heading {
        background-color: #55b73d;
        border-color: #55b73d;
        color: #fff; }
      #tour-detail .row.tabs .tab-content #gallery .row .panel-group .panel-primary .panel-body {
        border-top-color: #55b73d; }
        #tour-detail .row.tabs .tab-content #gallery .row .panel-group .panel-primary .panel-body .media .media-left .mask {
          width: 250px;
          height: 150px;
          overflow: hidden; }
    #tour-detail .row.tabs .tab-content #price .row table thead tr th {
      width: 33.33%; }
    #tour-detail .row.tabs .tab-content #price .row table tbody tr td {
      min-height: 50px; }
    #tour-detail .row.tabs .tab-content #price .row h3 {
      padding: 7px 15px;
      background-color: #55b73d;
      color: #fff;
      border-radius: 7px; }
    #tour-detail .row.tabs .tab-content #trip-notes .row h3 {
      padding: 7px 15px;
      background-color: #55b73d;
      color: #fff;
      border-radius: 7px; }
    #tour-detail .row.tabs .tab-content #inquire .row .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0; }
    #tour-detail .row.tabs .tab-content #inquire .row .form-horizontal textarea {
      resize: none; }
    #tour-detail .row.tabs .tab-content #customize .row table thead tr th {
      width: 50%;
      background-color: #55b73d;
      color: #fff; }
    #tour-detail .row.tabs .tab-content #customize .row .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0; }
    #tour-detail .row.tabs .tab-content #customize .row .form-horizontal textarea {
      resize: none; }

/*# sourceMappingURL=tours.css.map */
