/* =======================================================
*
* 	@IMPORT SCSS
*
* ======================================================= */

@import "main";

/* =======================================================
*
* 	LIST TOURS STYLE
*
* ======================================================= */

#head-cover{
    padding-left: 0;
    padding-right: 0;

    height: 60vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    z-index: -1;
}

#head-slider-section{
    width: 100%;
    height: 60vh;

        #head-slider{
            height: 100%;

            .carousel-inner{
                height: 100%;

                .mask{
                    width: 100%;
                    height: 100%;
                }
            }
        }
}

#page{
    width: 100%;

    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
    transform: translateY(-150px);

    .container{
        background-color: #fff;
        border-top: 10px solid $primary;

        .breadcrumb{
            padding: 10px 0;
            background-color: transparent;

            a{
                &:hover{
                    color: $primary;
                }
            }
        }

        .section-header{
            h1{
                font-weight: 700;

                padding-bottom: 30px;
            }

            p{
                color: $gray-light;
            }
        }
    }
}

#tours{
    .row{
        .item{
            margin-bottom: 30px;

            .inner{
                .badge{
                    &.badge-special{
                        right: -8px;
                    }

                    &.badge-discount{
                        .content{

                        }
                    }
                }
            }

            .mask{
                width: 100%;
                height: 400px;
                overflow: hidden;

                position: relative;

                border-radius: 7px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .overview{
                    width: 100%;
                    height: 50%;

                    position: absolute;
                    top: 40%;
                    left: 0;
                    z-index: 990;

                    padding: 15px;

                    opacity: 1;

                    text-shadow: 1px 2px 5px #333;

                    @include transition(0.5s);

                    .head{

                        h4.post-subtitle, h2.post-title{
                            color: #fff;
                        }

                        h2.post-title{
                            font-weight: 700;
                        }
                    }

                    .body{
                        h3{
                            color: #fff;

                            small.price-original{
                                color: #eee;
                            }
                        }
                    }
                }

                .content{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 991;

                    padding: 15px;

                    background-color: rgba(0,0,0,0.5);

                    opacity: 0;

                    @include transition(0.5s);

                    .head{
                        h4.post-subtitle, h2.post-title, h3.price{
                            color: #fff;
                        }

                        h4.post-subtitle{
                            font-size: 0.875em;
                        }

                        h2.post-title{
                            font-size: 1.5em;
                            font-weight: 700;
                        }

                        h3.price{
                            font-size: 2em;

                            small.price-original{
                                color: #eee;
                            }
                        }
                    }

                    .body{
                        table{
                            color: #fff;
                        }
                    }
                }
            }

            &:hover{
                .mask{
                    .overview{
                        top: 0;
                        opacity: 0;

                        @include transition(0.5s)
                    }

                    .content{
                        top: 0;
                        opacity: 1;

                        @include transition(0.5s)
                    }
                }
            }
        }
    }
}

#tour-detail{
    .row{
        .left{
            h3{
                font-weight: 700;
            }

            table{
                width: 100%;
            }
        }

        .right{
            background-color: $primary;
            color: #fff;

            h3{
                font-weight: 700;
            }

            table{
                color: #fff;

                small.price-original{
                    color: #ccc;
                }

                .rating{
                    unicode-bidi: bidi-override;
                    direction: ltr;

                    > span {
                        display: inline-block;
                        position: relative;
                        width: 1.1em;

                        &:hover {
                            &:before {
                                content: "\2605";
                                position: absolute;
                            }

                            ~ span:before{
                                content: "\2605";
                                position: absolute;
                            }
                        }
                    }
                }

                tbody{
                    tr{
                        &:last-of-type{
                            td{
                                border-top: 1px solid transparent;
                            }
                        }
                    }
                }
            }
        }

        .tabs{
            margin-top: 30px;

            .nav-tabs{
                li{
                    a{
                        &:hover {
                            color: #fff;
                            background-color: $primary-hover;
                        }
                    }
                }
            }

            .tab-content{
                padding-top: 30px;

                #overview{
                    .row{
                        .schedule{
                            .panel-group{
                                .panel-primary{
                                    border-color: $primary;

                                    .panel-heading{
                                        background-color: $primary;
                                        border-color: $primary;
                                        color: #fff;
                                    }

                                    .panel-body{
                                        border-top-color: $primary;

                                        .media{
                                            .media-left{
                                                .mask{
                                                    width: 250px;
                                                    height: 150px;
                                                    overflow: hidden;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .map{
                            img{
                                width: 100%;
                            }
                        }
                    }

                }

                #gallery{
                    .row{
                        .panel-group{
                            .panel-primary{
                                border-color: $primary;

                                .panel-heading{
                                    background-color: $primary;
                                    border-color: $primary;
                                    color: #fff;
                                }

                                .panel-body{
                                    border-top-color: $primary;

                                    .media{
                                        .media-left{
                                            .mask{
                                                width: 250px;
                                                height: 150px;
                                                overflow: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                #price{
                    .row{
                        table{
                            thead{
                                tr{
                                    th{
                                        width: 33.33%;
                                    }
                                }
                            }
                            tbody{
                                tr{
                                    td{
                                        min-height: 50px;
                                    }
                                }
                            }
                        }

                        h3{
                            padding: 7px 15px;
                            background-color: $primary;
                            color: #fff;

                            border-radius: 7px;
                        }
                    }
                }

                #trip-notes{
                    .row{
                        h3{
                            padding: 7px 15px;
                            background-color: $primary;
                            color: #fff;

                            border-radius: 7px;
                        }
                    }
                }

                #inquire{
                    .row{
                        .form-horizontal{
                            .form-group{
                                margin-left: 0;
                                margin-right: 0;
                            }

                            textarea{
                                resize: none;
                            }
                        }
                    }
                }

                #customize{
                    .row{
                        table{
                            thead{
                                tr{
                                    th{
                                        width: 50%;
                                        background-color: $primary;
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        .form-horizontal{
                            .form-group{
                                margin-left: 0;
                                margin-right: 0;
                            }

                            textarea{
                                resize: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

#tour-related{
    .row{
        .item{
            margin-bottom: 15px;

            .inner{
                position: relative;

                .badge{
                    position: absolute;
                    z-index: 990;

                    background-color: transparent;

                    &.badge-special{
                        top: 5px;
                        right: -22px;
                    }

                    &.badge-discount{
                        top: 0px;
                        left: 15px;

                        padding: 0 5px 5px;

                        background-color: #ff7300;
                        color: #fff;

                        border-radius: 0;

                        font-size: 1.5em;
                        font-weight: 700;

                        .content{
                            position: relative;

                            padding: 50px 15px 30px;

                            border: 1px solid #fff;
                            border-top: none;
                        }
                    }
                }
            }

            .mask{
                width: 100%;
                height: 400px;
                overflow: hidden;

                position: relative;

                border-radius: 7px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .overview{
                    width: 100%;
                    height: 50%;

                    position: absolute;
                    top: 35%;
                    left: 0;
                    z-index: 990;

                    padding: 15px;

                    opacity: 1;

                    text-shadow: 1px 2px 5px #333;

                    @include transition(0.5s);

                    .head{

                        h4.post-subtitle, h2.post-title{
                            color: #fff;
                        }

                        h2.post-title{
                            font-weight: 700;
                        }
                    }

                    .body{
                        h3{
                            color: #fff;

                            small.price-original{
                                color: #eee;
                            }
                        }
                    }
                }

                .content{
                    width: 100%;
                    height: 100%;

                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 991;

                    padding: 15px;

                    background-color: rgba(0,0,0,0.5);

                    opacity: 0;

                    @include transition(0.5s);

                    .head{
                        h4.post-subtitle, h2.post-title, h3.price{
                            color: #fff;
                        }

                        h4.post-subtitle{
                            font-size: 0.875em;
                        }

                        h2.post-title{
                            font-size: 1.5em;
                            font-weight: 700;
                        }

                        h3.price{
                            font-size: 2em;

                            small.price-original{
                                color: #eee;
                            }
                        }
                    }

                    .body{
                        table{
                            color: #fff;
                        }
                    }
                }
            }

            &:hover{
                .mask{
                    .overview{
                        top: 0;
                        opacity: 0;

                        @include transition(0.5s)
                    }

                    .content{
                        top: 0;
                        opacity: 1;

                        @include transition(0.5s)
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    #head-cover{

    }

    #page{
        .container{
        }
    }
    #page{
        .container{
            .row{
                #tour-detail{
                    .row{
                        .tabs{
                            .nav-tabs{
                                li{
                                        display: inline-block;
                                }
                            }
                            .tab-content{
                                #overview{
                                    .row{
                                        .schedule{
                                            .panel-group{
                                                .panel-primary{
                                                    .panel-body{
                                                        .media{
                                                            width: 100%;
                                                            .media-left{
                                                                display: block;
                                                                width: 100%;
                                                                padding-right: 0px;
                                                                .mask{
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                #gallery {
                                    .row{
                                        .panel-group{
                                            .panel-primary{
                                                .panel-body{
                                                    .media{
                                                        .media-left{
                                                            display: block;
                                                            width: 100%;
                                                            padding-right: 0px;
                                                            .mask{
                                                                width: 100%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
    #tours{
        .row{
            .item{
                margin-bottom: 30px;

                .mask{
                    width: 100%;
                    height: 400px;
                    overflow: hidden;

                    position: relative;

                    border-radius: 7px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .overview{
                        width: 100%;
                        height: 50%;

                        position: absolute;
                        top: 50%;
                        left: 0;
                        z-index: 990;

                        padding: 15px;

                        color: #fff;

                        opacity: 1;

                        @include transition(0.5s)
                    }

                    .content{
                        width: 100%;
                        height: 100%;

                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 991;

                        padding: 15px;

                        background-color: rgba(0,0,0,0.5);

                        color: #fff;

                        opacity: 0;

                        @include transition(0.5s)
                    }
                }

                &:hover{
                    .mask{
                        .overview{
                            top: 0;
                            opacity: 0;

                            @include transition(0.5s)
                        }

                        .content{
                            top: 0;
                            opacity: 1;

                            @include transition(0.5s)
                        }
                    }
                }
            }
        }
    }

    #tour-detail{
        .row{
            .left{
                table{
                    width: 100%;
                }
            }

            .right{
                table{

                    .rating{
                        unicode-bidi: bidi-override;
                        direction: ltr;

                        > span {
                            display: inline-block;
                            position: relative;
                            width: 1.1em;

                            &:hover {
                                &:before {
                                    content: "\2605";
                                    position: absolute;
                                }

                                ~ span:before{
                                    content: "\2605";
                                    position: absolute;
                                }
                            }
                        }
                    }

                    tbody{
                        tr{
                            &:last-of-type{
                                td{
                                    border-top: 1px solid transparent;

                                    .captcha-image{
                                        padding-left: 0;
                                        padding-right: 0;

                                        img{
                                            width: 100%;
                                            height: auto;
                                            padding-bottom: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.tabs{
                margin-top: 30px;

                .nav-tabs{
                    li{
                        display: inline-block;
                    }
                }

                .tab-content{
                    padding-top: 30px;

                    #overview{
                        .row{
                            display: flex;
                            flex-direction: column;

                            .schedule{
                                order: 2;

                                .panel-group{
                                    .panel-primary{

                                        .panel-heading{
                                            h4{
                                                a{
                                                    max-width: 80%;
                                                }
                                            }
                                        }

                                        .panel-body{
                                            border-top-color: $primary;

                                            .media{
                                                .media-left{
                                                    width: 100%;
                                                    display: block;

                                                    .mask{
                                                        width: 100%;
                                                        padding-bottom: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .map{
                                order: 1;

                                img{
                                    width: 100%;
                                }
                            }
                        }

                    }

                    #gallery{
                        .row{
                            .panel-group{
                                .panel-primary{
                                    border-color: $primary;

                                    .panel-heading{
                                        background-color: $primary;
                                        border-color: $primary;
                                        color: #fff;
                                    }

                                    .panel-body{
                                        border-top-color: $primary;

                                        .media{
                                            .media-left{
                                                width: 100%;
                                                display: block;

                                                .mask{
                                                    width: 100%;
                                                    padding-bottom: 15px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #price{
                        .row{
                            table{
                                width: 100%;

                                thead{
                                    tr{
                                        th{
                                            width: 33.33%;
                                        }
                                    }
                                }
                                tbody{
                                    tr{
                                        td{
                                            min-height: 50px;
                                        }
                                    }
                                }
                            }

                            h3{
                                padding: 7px 15px;
                                background-color: $primary;
                                color: #fff;

                                border-radius: 7px;
                            }
                        }
                    }

                    #trip-notes{
                        .row{
                            h3{
                                padding: 7px 15px;
                                background-color: $primary;
                                color: #fff;

                                border-radius: 7px;
                            }

                            table{

                            }
                        }
                    }

                    #inquire{
                        .row{
                            .form-horizontal{
                                .form-group{
                                    margin-left: 0;
                                    margin-right: 0;
                                }

                                textarea{
                                    resize: none;
                                }
                            }
                        }
                    }

                    #customize{
                        .row{
                            table{
                                thead{
                                    tr{
                                        th{
                                            width: 50%;
                                            background-color: $primary;
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            .form-horizontal{
                                .form-group{
                                    margin-left: 0;
                                    margin-right: 0;
                                }

                                textarea{
                                    resize: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}