/* =======================================================
*
* 	VARIABLES
*
* ======================================================= */

$primary: #B61E2D;
$primary-hover: #EB3B2C;

$text-color: #666;
$heading-color: #333;