/*
RESET FORMS STYLE OF ADMINLTE
 */

.form-horizontal{
    .form-group{
        margin-left: 0;
        margin-right: 0;

        .check_available{
            padding: 15px;
            background-color: #db8b0b;
            color: #fff;
        }

        .check_show{
            padding: 15px;
            background-color: #d2d6de;
            color: #333;
        }
    }
}


.nav_side_fix{
    position: fixed;
    top: 15px;
    right: 0px;

    .box{
        width: 85%;
        margin-left: 15%;
    }
}